.resultContainer {
    display: flex;
    border-bottom: 1px solid #c6c6c6;
    padding: 5px;
}
.resultItem {
    border: 1px solid #c6c6c6;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
}
.resultTextContainer {
    padding: 5px;
    display: block;
    width: 100%;
}